@media (max-width: 900px) {
	
/* ---------------------------------------------------------------------------
###############              Default Format               ####################
----------------------------------------------------------------------------*/
	
html, body { height: 100%; width: 100%; margin: 0; overflow-x: hidden; overflow-y: hidden;}

html {
	font-family: 'Gudea', sans-serif;
	box-sizing: border-box;
	color: #97644F;
}

body{
	font-size: 16px;
	
}

a{
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: 'Gudea', sans-serif;
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 0.8em;
	color: #97644F;
}

h2 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0.8em;
	color: #97644F;
}

.subtitle {
	color: inherit;
	font-size: 10px;
	margin-bottom: 0.8em;
	color: #97644F;
}

p {
	font-size: 14px;
	margin-bottom: 0.8em;
	color: #97644F;
}

.center {
	width: 100%;
	margin: auto;
}


/* ---------------------------------------------------------------------------
###############                  BODY                     ####################
----------------------------------------------------------------------------*/


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url(../../medias/site-assets/wallpaper.jpg) fixed no-repeat;
	background-size: cover;
    transition: 1s opacity;
}


/* ---------------------------------------------------------------------------
###############                  HEADER                   ####################
----------------------------------------------------------------------------*/
	
	/* ################################
	--- MENU CLOSED
	################################# */
	
		/* hide desktop nav
		-------------------- */

		.nav-hide {
			display:none;
		}
		
		.checkbox {
			display:none;
		}
		
		.hide {
			display:none;
		}
		
		/* menuburger
		-------------------- */
		
		.navbar-toggle {
			position: fixed;
			top: 3%;
			right: 3%;
			width: 45px;
			height: 45px;
			z-index: 100;
			cursor: pointer;
			transition: all 0.6s ease;
		}

		.bar1,
		.bar2,
		.bar3 {
			width: 80%;
			height: 5px;
			margin-bottom: 5px;
			background-color: #97644F;
			border-radius: 5px;
			transition: all 0.3s ease-in-out;
		
		}
			
	/* ################################
	--- MENU OPEN
	################################# */
	
		/* menuburger
		-------------------- */
		
		.navbar-on .bar1,
		.navbar-on .bar2,
		.navbar-on .bar3 { 
			background-color: #97644F; 
		
		}

		.navbar-on .bar1 {
			background-color: #97644F;
			transform-origin: 15% 40%;
			padding-left:4.5px;
			transform: rotate(45deg);
		}

		.navbar-on .bar3 {
			background-color: #97644F;
			transform-origin: 15% 40%;
			padding-left:4.5px;
			transform: rotate(-45deg);
		}

		.navbar-on .bar2 {
			background-color: transparent;
		}
		
			/* menu burger on scroll */
			.navbar-toggle.loaded {
				bottom: 3%;
				padding: 5% 1.25% 0 3.5%;
				top: 87%;
				transition: all 0.6s ease;
			}
	
	
		/* menu format
		-------------------- */
		header nav {
			position: fixed;
			z-index: 99;
			background: rgba(224, 224, 224, 0.75);
			list-style:none;
			padding: 10% 0 0 0;
			width:100%;
			height:94.5%;
		}
		
		.navbar-background.navbar-on {
			filter: blur(5px);
		}
		

		/* language
		-------------------- */
	
		#burgerlanguage {
			display:flex;
			padding-left: 10%;
			font-size:1.0em;
			z-index:99;
			color:#97644F;
		}

		/* menu list
		-------------------- */
		nav li {
			display:block;
			padding: 10% 0 0 0;
		}
	
		nav li li{
			display:block;
			padding: 5% 0 0 0;
			font-size: 1em;
		}
		
		nav li a {
			color:#97644F;
			font-size: 1.3em;
			z-index:100;
		}
		
		nav li label {
			color:#97644F;
			font-size: 1.3em;
			padding: 8% 0;
			z-index:100;
		}

		nav li span:hover {
			color: #97644F;
		}

		.active {
			color: #97644F;
		}
		
		nav ul ul {
			position: absolute;
			visibility:hidden;
			opacity: 0;
			margin: -7% 0;
			padding:0;
		}
		
		[id^=drop]:checked + ul {
			visibility: visible; position: relative; opacity:1; margin: 0 0; transition: all 0.3s ease;
		}
	
		/* footer
		-------------------- */
	
		#burgerline{
			border-top:solid 2px #97644F;
			width:100px;
			padding-top: 1em;
			border-top-left-radius: 0.5px;
			border-top-right-radius: 0.5px;
		}
		

		
		#burgerfooter {
			display:block;
			position:static;
			padding-top: 5em;
			line-height:0;
			padding-left: 1%;
			font-size:10px;
		}
		
		#burgerfooter li {
			display:none;
			color:#97644F;
			line-height:0;
			padding:1em 0;
			margin:0;
		}
		
		#burgericon {
			display: block !important;
		}
		
		#burgerfooter li div {
			display: inline-block;
			background:#97644F;
			color:#fff;
			border-radius: 50px;
			width:35px;
			height:35px;
			font-size: 2em;
			margin-top:1%;
			margin-right: 15px;
		}
		
		#burgerfooter i {
			padding: 8px;
		}
		
		#burgerfooter .fa-youtube  {
			padding: 8px 7px !important;
		}
		
		#burgerfooter .fa-facebook-f  {
			padding: 8px 12px !important;
		}
		
		#burgerfooter .fa-whatsapp {
			padding: 8px px !important;
		}
	

/* ---------------------------------------------------------------------------
###############                  MAIN                   ####################
----------------------------------------------------------------------------*/


	/* ################################
	--- Section 0 (HOMEPAGE)
	################################# */
	
		/* Logo
		-------------------- */
		#logo img {
			display: block;
			margin: auto;
			padding-top: 25%;
			width:35%;
		}

		/* Title
		-------------------- */
		#title {
			margin: auto;
			padding-top: 2%;
			text-align: center;
			letter-spacing: 4px;
		
		}
		#name{
			margin: auto;
			padding-top: 1%;
			text-align: center;
			letter-spacing: 5px;
		}

		/* Citation
		-------------------- */
		#citation{
			margin: auto;
			padding-top: 2%;
			text-align: center;
			font-weight: 300;
			font-style: italic;
			max-width:75%
		}
		
		.section {
			opacity: 0;
			transition: opacity 1s;
		}
		
		.loaded{
			opacity:1;
		}
		
	/* ################################
	--- Section 1 (Pourquoi)
	################################# */
	
		#pourquoi {
			position:absolute;
			margin: 45% 0;
			text-align: center;
			width:100%;
			font-weight: 700;
			font-size: 1.5em;
		}
		
	/* ################################
	--- Section 2 (Horaires)
	################################# */
		
		
		/* section format
		-------------------- */
		
		#section2 .fp-tableCell {
			display: table-cell;
			vertical-align: top;
			width: 100%;
			height: 100%;
		}
		
		.timeBlock {
			width: 100%;
			margin: 0 auto;
			padding-top: 0;
			text-align:center
		}
		
		#timeDiv {
			font-size: 15px;
			text-transform: uppercase;
			max-width: 325px;
			margin: 10% auto;
			background: #fff;	
			border-radius: 3px;
			box-shadow: 0 8px 16px -8px;
			padding: 20px 5px;
		}
		
		.modal-overlay {
			position: flex;
			float:center;
			color: transparent;
			opacity: 0;
			width: 100%;
			height:0em;
			margin: 0 auto;
			text-align:center;
			background: #fff;
			box-shadow: 0 8px 16px -8px;
			transition: height 0.3s ease;		
		}
		
		/* open - close
		-------------------- */

		.timeopen {
			color: #27ae60;
			border: 2px solid #27ae60;
		}
		
		.timeclosed {
			color: rgba(231, 76, 60, 0.85);
			border: 2px solid rgba(231, 76, 60, 0.8);
		}
		
		
		/* show horaires
		-------------------- */
		
			/* on - off */
			.viewOpen {
				font-size: 15px;
				text-transform: uppercase;
				margin: 10% auto;
				padding: 2px 6px 2px 16px;
				background: #fff;	
				border-radius: 3px;
				box-shadow: 0 8px 16px -8px;
				text-align:center;
			}
			
				
			#modal-state {
				display:none;
			}
				
				
			#modal-state:checked + .modal-overlay {
				height:20em;
				color: #97644F;
				transition: height 0.5s ease, color 0.8s ease, opacity 0.3s ease-in-out;
				opacity: 1;
				animation: fade-in .4s;
			}
			
			.button-close {
				position:absolute;
				right:2%;
				margin-top:1%;
				font-size: 24px;
			}

			/* title */
			#timeTitle {
				padding: 5% 0 2% 0;
			}
			
			/* content */
				
			.dateTime {
			  max-width: 320px;
			  margin: 0 auto;
			  padding: 2% 0;
			}

			.day {
			  display: inline-block;
			  float: left;
			}

			.time {
			  display: inline-block;
			  float: right
			}
			
			.today {
			  color: rgb(200, 85, 39);
			  font-weight: 600;
			}
			
		/* rdv
		-------------------- */
		
		#rdv {
			position:absolute;
			color: #fff;
			font-style: italic;
			margin-top: 10px;
			width:100%
		}
		
		#rdv p {
			font-size:1.2em;
			text-align: center;
			margin:0.5em;
		}
	
/* ---------------------------------------------------------------------------
###############                  FOOTER                   ####################
----------------------------------------------------------------------------*/






	#quoi{padding-top: 15%;}
	
	.quoi{
		font-size: 14px;
		padding: 0 10%;
		text-align: justify;
	}
	
	article {
	margin: 0 auto 0 auto;
	padding:11% 0;
	}

	#ArticleTitle {
		text-align: center;
		min-width: 180px;
		width: 40%;
		margin: 0 auto;
	}

	.flex-container {
		display: flex;
		flex-flow: row wrap;
		margin: auto;
		margin-left: -2%;
	  }	

	.sectionB {
		background-color: #e3e3e3;
		margin: 1% 0;
		width: 90%;
		height: 15em;
		*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		text-align:center;
		/* Gradient to h1 */

	}
	
	#s1:hover,#s2:hover{
		background-size:140%;
		transition: all 0.4s;
	}
	
	#s3:hover,#s5:hover {
		background-size:180%;
		transition: all 0.4s;
	}
	
	#s4:hover{
		background-size:120%;
		transition: all 0.4s;
	}
	
	.sectionB:open{
		position:absolute;
		z-index:99;
		margin:auto;
		transform: scale(1.1);
		transition: all 0.4s;
	}


	.alink {
		display: block;
		height: 100%;
		width: 100%;
		text-decoration: none;
	}

	.section-icon {
		color: #fff;
		margin: 75px 48%;
		font-size: 25px;
		position:absolute;
		transform: translateY(-50%)!important;
	}

	.section-textB h2 {
		font-size: 1.4em;
		font-weight:500;
		padding: 4em 0 0 0;
		color: #fff;
	}

	#s1{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/touchforhealth.jpg);
		background-size: 120%;
		background-position: center
	}


	#s2 {
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/braingym.jpg);
		background-size: 120%;
		background-position: 45% 80% ;
	}

	#s3{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/onebrain.jpg) center;
		background-size: 150%;
	}

	#s4{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/somatique2.jpg) center;
		background-size: 100%;
		
	}

	#s5{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/energy.jpg) center;
		background-size: 150%;
		
	}
/* FOOTER ../../../../../../../../../../../../../../../../../../../../../../../../*/
}