@media (min-width: 900px) {
	
html, body { height: 100%; width: 100%; margin: 0;}

html {
	font-family: 'Gudea', sans-serif;
	box-sizing: border-box;

}

body{
	font-size: 16px;
	
}

div {
	color: #97644F;
	}

a{
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: 'Gudea', sans-serif;
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 0.8em;
	color: #97644F;
}

h2 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0.8em;
	color: #97644F;
}

.subtitle {
	color: inherit;
	font-size: 10px;
	margin-bottom: 0.8em;
}

p {
	font-size: 14px;
	margin-bottom: 0.8em;
	color: #97644F;
}

.center {
	width: 100%;
	margin: auto;
}


/* LAYOUT
 * Dimenssions et positionnement des choses
------------------------------------------------*/

/* BODY ../../../../../../../../../../../../../../../../../../../../../../../../*/

 body {
  margin: 0;
  background: #000; 
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url(../../medias/site-assets/wallpaper.jpg) fixed no-repeat;
	background-size: cover;
    transition: 1s opacity;
}

/* HEADER ../../../../../../../../../../../../../../../../../../../../../../../../*/
	
	
	#menuburger{
		display:none;
	}
	
	#menu {
		position:absolute;
		width:100%;
	}
		
	#burgerfooter{
		display:none;
	}
	
	#burgerlanguage{
		display:none;
	}
	
	#burgerfooter i {
		background:#97644F;
		color:#fff;
		border-radius: 50px;
		width:40px;
		height:30px;
		padding-top:10px;
		font-size: 1.5em;
		margin-top:1%;
		margin-right:0.3em;
	}
	
	
	#menuburger.on {
		display:block;
	}
	
	#burgerfooter.on {
		display:block;
		position:static;
		padding-top: 45em;
		padding-left: 1%;
		font-size:10px;
	}
	
	#burgerline{
		border-top:solid 2px #97644F;
		width:100px;
		padding-top: 3em;
		margin-left:25px;
		border-top-left-radius: 0.5px;
		border-top-right-radius: 0.5px;
	}
	
	#burgerlanguage.on{
		display:flex;
		margin-top: -4%;
		padding-left: 5%;
		font-size:1.0em;
		z-index:99;
	}
	
	.section.on {
		filter: blur(5px);
		transition: all 0.1s ease-in;
		transition-delay: 0.8s;
	}
	
	.navbar-toggle {
	  position: fixed;
	  top: 3%;
	  right: 3%;
	  width: 45px;
	  height: 45px;
	  z-index: 100;
	  cursor: pointer;
	  transition: all 0.6s ease;
	}

	.bar1,
	.bar2,
	.bar3 {
	  width: 80%;
	  height: 5px;
	  margin-bottom: 5px;
	  background-color: #97644F;
	  border-radius: 5px;
	  transition: all 0.3s ease-in-out;
	
	}

	.navbar-on .bar1,
	.navbar-on .bar2,
	.navbar-on .bar3 { 
	background-color: #97644F; 
	
	}

	.navbar-on .bar1 {
	  background-color: #97644F;
	  transform-origin: 15% 40%;
	  padding-left:4.5px;
	  transform: rotate(45deg);
	}

	.navbar-on .bar3 {
	  background-color: #97644F;
	  transform-origin: 15% 40%;
		padding-left:4.5px;
	  transform: rotate(-45deg);
	}

	.navbar-on .bar2 { background-color: transparent; }
	
	.nav-hide {
		position:fixed;
		width:100%;
		z-index: 99;
		padding: 0 0 0 0;
		margin: 0 auto;
		text-align: center;
		list-style:none;
		font-size: 1.0em;
		opacity: 0;
		transition: all 0.4s;
	}
	
	.nav-hide.off {
		display:none;
		opacity:0;
	}
	
	.nav-hide.roll{
		background-color:#fff;
		padding: 0 0 6% 0;
		transition: all 0.3s;
	}
	
	.nav-hide.past-main {
		background-color:#fff;
		margin-left: 100%;
		padding-top: 5.5em;
		height:100%;
		opacity:1;
		transition: all 0.6s ease;
	}
	
	.loaded {
		opacity:1;
	}
	
	nav li {
		font-size: 1.3em;
		display: inline-block;
		position:relative;
		padding: 0 6em 0 0;
	}
	
	#menu {
		margin-top: 2em;
	}
	
	#menu.past-main {
		margin-top: 5em;
	}
	
	nav li.past-main {
		display: flex;
		position:relative;
		height:100%;
		padding: 0 0 1.0em 2em;
		transition: all 0.3s;
	}
	
	nav li.past-main.plus:hover {
		display: flex;
		position:relative;
		height:100%;
		padding: 0 0 5.5em 2em;
		transition: all 0.3s;
	}
	
	nav ul ul.past-main {
		margin: 1em 0 0 0;
	}
	
	
	nav li li.past-main {
		padding: 0.5em 0.5em 0 0;
	}
	
	nav li li.past-main:hover {
		padding: 0.5em 0.5em 0 0;
	}
	

	nav li a {
		color:#C8A596;
		font-weight:500;
	}
	


	nav li span:hover {
		color: #97644F;
	}

	.active {
		border-bottom:solid 2px #97644F;
		border-bottom-width: 2px;
		padding-bottom: 5px;
		border-bottom-left-radius: 0.5px;
		border-bottom-right-radius: 0.5px;
		*transition: all 0.2s ease-in-out;
		color: #97644F;
	}
	

	.checkbox {
		display:none;
	}
	
	.effectbox {
		display:none;
	}
	
	
	label {
		display:none;
	}

	nav ul ul {
	  visibility: hidden;
	  opacity: 0;
	  position: absolute;
	  list-style:none;
	  padding: 0px 0;
	  
	}

	nav ul li:hover > ul { 
	  visibility: visible;
	  opacity:1;
	  padding: 0.1em 0;
	  transition: all 0.3s ease;
	}

	nav ul ul li {
	  float: none;
	  display: list-item;
	  position: static;
	  text-align: left;
	  font-size: 0.8em;
	  padding: 5px 0px;
	}
	
	nav ul ul li a:hover {
	  color:#97644F;
	  
	}

	nav ul ul ul li {
	  position: relative;
	}
	
	li.circle:before, li.circle:after {
		position: absolute;
		top: 45%;
		left: -10%;
		width: 0.45em;
		height: 0.45em;
		border: 0.1em solid #97644F;
		transform: translateX(-50%) translateY(-50%) scale(2);
		border-radius: 50%;
		background: transparent;
		content: "";
		opacity: 0;
		transition: all 0.3s;
		z-index: -1;
	}
	
	li.circle.past-main:before, li.circle.past-main:after {
		position: absolute;
		top: 0.6em;
		left: 1em;
		width: 0.45em;
		height: 0.45em;
		border: 0.1em solid #97644F;
		transform: translateX(-50%) translateY(-50%) scale(2);
		border-radius: 50%;
		background: transparent;
		content: "";
		opacity: 0;
		transition: all 0.3s;
		z-index: -1;
	}
	
	li.circle:after
	{
		border-width: 2px;
		transition: all 0.4s;
	}

	li.circle:hover:before
	{
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) scale(0.8);
	}

	li.circle:hover:after
	{
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) scale(1.5);
	}


/* MAIN ../../../../../../../../../../../../../../../../../../../../../../../../*/

	/* Logo */
	#logo img {
		display: block;
		margin: auto;
		padding-top: 5%;
		width:15%;
		transition: all 0.5s;
	}
	
	#logo a {
	  pointer-events: none;
	  cursor: default;
	}
	
	#logo.scroll img {
		position: fixed;
		z-index:99;
		top:2%;
		left: 2%;
		padding-top: 0;
		width:5%;
		transition: all 0.3s ease;
	}

	#logo.scroll a {
	  pointer-events: auto;
	  cursor: pointer;
	}
	
	/* Title */
	#title {
		margin: auto;
		padding-top: 2%;
		text-align: center;
		letter-spacing: 4px;
	
	}
	#name{
		margin: auto;
		padding-top: 1%;
		text-align: center;
		letter-spacing: 5px;
	}
	/* Citation */
	#citation{
		margin: auto;
		padding-top: 2%;
		text-align: center;
		font-weight: 300;
		font-style: italic;
		max-width:22%
	}
	
	#fullpage{
		margin:0;
		padding:0;
		left:0;
	}
	.section {
		opacity: 0;
        transition: opacity 1s;
	}
	
	#pourquoi {
		position:absolute;
		margin: 25% 0;
		text-align: center;
		width:100%;
		font-weight: 700;
		font-size: 3em;
	}
	
	#section2 .fp-tableCell {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
	}
	
	.timeBlock {
		width: 100%;
		margin: 10% auto 0 auto;
		text-align:center
	}
	
	#timeDiv {
		font-size: 15px;
		text-transform: uppercase;
		max-width: 325px;
		margin: auto;
		background: #fff;	
		border-radius: 3px;
		box-shadow: 0 8px 16px -8px;
		padding: 20px 5px;
	}

	.timeopen {
	  color: #27ae60;
	  border: 2px solid #27ae60;
	}
	
	.timeclosed {
	  color: rgba(231, 76, 60, 0.85);
	  border: 2px solid rgba(231, 76, 60, 0.8);
	}
	

	#modal-state {
		display:none;
	}
	

	#modal-state:checked + .modal-overlay {
	  opacity: 1;
	  animation: fade-in .4s;
	  display: block;
	}
	
	.modal-overlay {
		position: flex;
		float:center;
	  	width: 40%;
		height:25em;
		margin: 0 auto;
		text-align:center;
		background: #fff;
		box-shadow: 0 8px 16px -8px;		
	}
	
	#timeTitle {
		padding: 5% 0 2% 0;
	}
	
	.dateTime {
	  max-width: 320px;
	  margin: 0 auto;
	  padding: 1% 0;
	}

	.day {
	  display: inline-block;
	  float: left;
	}

	.time {
	  display: inline-block;
	  float: right
	}
	
	.today {
	  color: rgb(200, 85, 39);
	  font-weight: 600;
	}	
	
	#rdv {
		position:absolute;
		color: #fff;
		font-style: italic;
		margin-top: 10px;
		width:100%
	}
	
	#rdv p {
		font-size:1.2em;
		text-align: center;
		margin:0.5em;
	}
	
	.loaded{
		opacity:1;
	}
	
	#quoi{padding-top: 15%;}
	
	.quoi{
		font-size: 24px;
		padding: 0 20%;
		text-align:justify;
	}
	
	article {
	margin: 0 auto 0 auto;
	padding:5% 0;
	}

	#ArticleTitle {
		text-align: center;
		min-width: 180px;
		width: 40%;
		margin: 0 auto;
	}

	.flex-container {
		display: flex;
		flex-flow: row wrap;
		margin: auto;
		padding-left:5%;
	  }	

	.sectionB {
		background-color: #e3e3e3;
		min-width: 200px;
		height: 16em;
		*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		text-align:center;
		margin: 0.5%;
		/* Gradient to h1 */

	}
	
	#s1:hover, #s5:hover{
		background-size:120%;
		transition: all 0.4s;
	}
	
	#s2:hover{
		background-size:140%;
		transition: all 0.4s;
	}
	
	#s3:hover,#s4:hover{
		background-size:120%;
		transition: all 0.4s;
	}
	
	.sectionB:open{
		position:absolute;
		z-index:99;
		margin:auto;
		transform: scale(1.1);
		transition: all 0.4s;
	}

	#s1 {
		width: 97%;
	}
	#s2, #s3, #s4, #s5 {
		width: 48%;
	}

	.alink {
		display: block;
		height: 100%;
		width: 100%;
		text-decoration: none;
	}

	.section-icon {
		color: #fff;
		margin: 75px 48%;
		font-size: 25px;
		position:absolute;
		transform: translateY(-50%)!important;
	}

	.section-textB h2 {
		font-size: 2.0em;
		font-weight:500;
		margin: 100px 10px;
		color: #fff;
	}

	#s1{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/touchforhealth.jpg);
		background-size: 100%;
		background-position: center 40%;
	}


	#s2 {
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/braingym.jpg);
		background-size: 120%;
		background-position: 45% 80% ;
	}

	#s3{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/onebrain.jpg) center;
		background-size: 100%;
	}

	#s4{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/somatique2.jpg) center;
		background-size: 100%;
		
	}

	#s5{
		background: 
		linear-gradient(
		  to bottom,
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)
		),
		url(../../medias/kinesiologie/energy.jpg) center;
		background-size: 100%;
		
	}
	

/* FOOTER ../../../../../../../../../../../../../../../../../../../../../../../../*/
}