@media (min-width: 900px) {
	
html, body { height: 100%; width: 100%; margin: 0;}

html {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	
}

a{
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 0.8em;
}

h2 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0.8em;
}

.subtitle {
	color: inherit;
	font-size: 10px;
	margin-bottom: 0.8em;
}

p {
	font-size: 14px;
	margin-bottom: 0.8em;
}

.center {
	width: 100%;
	margin: auto;
}


/* LAYOUT
 * Dimenssions et positionnement des choses
------------------------------------------------*/

/* BODY ../../../../../../../../../../../../../../../../../../../../../../../../*/

 body {
  margin: 0;
  background: #000; 
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background: url(../../medias/site-assets/wallpaper.jpg) fixed no-repeat;
	background-size: cover;
    transition: 1s opacity;
}

/* HEADER ../../../../../../../../../../../../../../../../../../../../../../../../*/
	
	
	#menuburger{
		display:none;
	}

	.nav-hide {
		position:fixed;
		width:100%;
		z-index: 99;
		padding: 1% 0 5% 0;
		margin: 0 auto;
		text-align: center;
		list-style:none;
		font-size: 1.3em;
	}
	
	nav li {
		display: inline-block;
		position:relative;
		padding: 0 6em 0 0;
	}

	nav li a {
		color:#C8A596;
		font-weight:500;
	}
	
	nav li a.past-main {
		color:#fff;
		font-weight:500;
	}


	nav li span:hover {
		color: #97644F;
	}
	
	nav li span.past-main:hover {
		color: #fff;
	}

	.active {
		border-bottom:solid 2px #97644F;
		border-bottom-width: 2px;
		padding-bottom: 5px;
		border-bottom-left-radius: 0.5px;
		border-bottom-right-radius: 0.5px;
		*transition: all 0.2s ease-in-out;
		color: #97644F;
	}
	
	.active.past-main {
		border-bottom:solid 2px #fff;
		color: #fff;
	}

	.checkbox {
		display:none;
	}
	
	.effectbox {
		display:none;
	}
	
	
	label {
		display:none;
	}

	nav ul ul {
	  visibility: hidden;
	  opacity: 0;
	  position: absolute;
	  list-style:none;
	  padding: 0px 0;
	  
	}

	nav ul li:hover > ul { 
	  visibility: visible;
	  opacity:1;
	  padding: 10px 0;
	  transition: all 0.3s ease;
	}

	nav ul ul li {
	  float: none;
	  display: list-item;
	  position: static;
	  text-align: left;
	  font-size: 0.8em;
	  padding: 5px 0px;
	}
	
	nav ul ul li a:hover {
	  color:#97644F;
	  
	}

	nav ul ul ul li {
	  position: relative;
	}
	
	li.circle:before, li.circle:after {
		position: absolute;
		top: 55%;
		left: -10%;
		width: 15px;
		height: 15px;
		border: 2px solid #97644F;
		transform: translateX(-50%) translateY(-50%) scale(2);
		border-radius: 50%;
		background: transparent;
		content: "";
		opacity: 0;
		transition: all 0.3s;
		z-index: -1;
	}
	
	li.circle.past-main:before, li.circle.past-main:after {
		border: 2px solid #fff;
	}

	li.circle:after
	{
		border-width: 2px;
		transition: all 0.4s;
	}

	li.circle:hover:before
	{
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) scale(1);
	}

	li.circle:hover:after
	{
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) scale(1.5);
	}


/* MAIN ../../../../../../../../../../../../../../../../../../../../../../../../*/

	/* Logo */
	#logo img {
		display: block;
		margin: auto;
		padding-top: 5%;
		width:15%;
	}

	/* Title */
	#title {
		margin: auto;
		padding-top: 2%;
		text-align: center;
		letter-spacing: 4px;
	
	}
	#name{
		margin: auto;
		padding-top: 1%;
		text-align: center;
		letter-spacing: 5px;
	}
	/* Citation */
	#citation{
		margin: auto;
		padding-top: 2%;
		text-align: center;
		font-weight: 300;
		font-style: italic;
		max-width:22%
	}
	
	#fullpage{
		margin:0;
		padding:0;
		left:0;
	}

/* FOOTER ../../../../../../../../../../../../../../../../../../../../../../../../*/
}